.tabs {
  padding: $base-space*9 10vw;
  background: #ebebeb;
  min-height: 350px;
  row-gap: 1px;
}

.option {
  height: $base-space*8;
  background: #ccc;
  color: $primary;
  padding: $base-space*3 $base-space*5;
  margin-bottom: 1px;
  transition: all 0s;
  
  span {
    font-size: 11px;
    margin-left: $base-space;
    transition: color 0s, transform .4s;
  }
}

.option--active {
  background: $primary;
  color: $secondary;
  font-weight: bold;
  transition: all .4s;

  span {
    transform: rotate(180deg);
  }
}

.option.tab1 {
  grid-column: 1 / 5;
  order: 1;
}

.option.tab2 {
  grid-column: 1 / 5;
  order: 2;
}

.option.tab3 {
  grid-column: 1 / 5;
  order: 3;
}

.tabs_contnet {
  grid-column: 5 / 13;
  background: $secondary;
  column-gap: $base-space*4;
  padding: $base-space*4 0;
  order: 4;
}

.contnet_text {
  grid-column: 2 / span 6;
}

.contnet_loader {
  grid-column: 2 / span 6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .tabs_contnet {
    grid-column: auto;
    grid-row: auto;
  }

  .contnet_loader {
    padding: 200px 0;
  }
}