.cards {
  column-gap: $base-space*4;
  padding: $base-space*9 10vw;
  background: #ebebeb;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card--1 .card_image {
  background-size: 140%;
}

.card--2 .card_image {
  background-position: 10%;
  background-size: 140%;
}

.card--3 .card_image {
  background-size: cover;
}

.card_image {
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: $base-space*15;
}

.card_conntent {
  text-align: center;
  padding: $base-space*4 $base-space*7;
  line-height: $base-space*3;
  font-size: 1.15rem;
  background: $secondary;
  flex:5;
}

.card_button {
  flex-basis: $base-space*7;
}

@media only screen and (max-width: 768px) {
  .cards {
    row-gap: $base-space*4;
  }
}
