.cookies {
  position: fixed;
  bottom: 0;
  background: $secondary;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 11;
  padding: $base-space;
  align-items: center;
}

.cookies_message {
  font-size: 0.8rem;
  padding: 0px $base-space*3;
}

.cookies_button {
  margin: $base-space $base-space;
  padding: $base-space $base-space*7;
}
