.banner{
  height: 75vh;
}

.banner_image-container {
  overflow: hidden;
}

.banner_image{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.banner_detail{
  background: $primary;
  color: $secondary;
}

.detail_content {
  grid-column: 2 / span 3;
  align-self: center;
}

.content_desc {
  line-height: $base-space*3;
}

.content_button {
  padding: $base-space*2 $base-space*2;
  margin: $base-space*4 0;

  span {
    font-size: 13px;
  }
}

.fadeInSide {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.banner:nth-child(even) {
  .banner_detail {
    background: $secondary;
    color: $primary;
    text-align: right;
  }
  
  .fadeInSide {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  
  .detail_content {
    justify-self: end;
  }

  .banner_image-container {
    order: 1;
  }

  .banner_image{
    background-position: right;
  }
}

@media only screen and (max-width: 768px) {
  .banner:nth-child(even) .banner_detail {
    order: 1;

    .detail_content {
      justify-self: center;
    }
  }

  .detail_content {
    margin: $base-space*5;
    text-align: center;
    grid-column: 1 / 6;
  }

  .content_button {
    margin: $base-space*2 0;
  }

  .content_title {
    width: unset;
  }
}