.contacts {
  column-gap: $base-space*4;
  padding: $base-space*9 10vw;
  background: $primary;
  color: $secondary;
}

.contacts_headline {
  grid-column-start: 2;
  height: $base-space*43;
}

.headline_text {
  line-height: $base-space*3;
}

.contacts_form {
  column-gap: $base-space*4;
  grid-column-start: 6;
}

.form_button {
  padding: $base-space*2 $base-space*2;
  margin: $base-space 0;

  span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .contacts_form {
    grid-column-start: 1;
  }
  .contacts_headline {
    grid-column-start: 1;
  }

  .contacts_form input,
  .contacts_form textarea {
    grid-column: 1 / end;
  }

  .form_button {
    grid-column: 1 / 5;
  }
}
